/* styles.css */
.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
   
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
   
  }
  
  .product_card {
    display: flex;
    padding-inline: 30px;
    border: 1px solid #ccc;
    width: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  
  }
  
  .product_card img {
    max-width: 100%;
    height: auto;
  }
  